/* CSS RESET*/
*{
	box-sizing: border-box;
}

nav ul, nav ol {
	list-style-type: none;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, p, ul, ol, a, button, label, input{
	font-family: "Manrope",serif;
	margin: 0;
	padding: 0;
}
/* END RESET */


#input-container {
	display: flex;
	gap: 50px;
	margin-bottom: 36px;
}

#input-container > div {
	width: 100%;
}

#image-container {
	margin: 20px;
	height: 95vh;
	border-radius: 20px;
	width: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('images/gradient-min.png');
}

/* ----- VISIBILITY CLASSES ----- */
.hidden{
	opacity: 0;
	visibility: hidden;
	/* transition: all 0.3s ease; */
}

.showing{
	opacity: 1;
	visibility: visible;
	/* transition: all 0.3s ease; */
}

body {
	margin: auto; 
	background-color: #2C2638;
}

main {
	margin: 14px 0 14px 0;	
	margin: 20px 80px 0px 80px; 
	width: 50%;
}

header {
	margin: 24px 0 12px 0;
}

header h1{
	color: white;
	font-weight: 300;
}

header h2{
	color: #C68FFF;
	font-weight: 300;
	font-size: 1em;
	margin-bottom: 4px;
}

#minutes-text{
	font-weight: 600;
	background: linear-gradient(90deg, #A244FF 40.8%, #DBF 99.62%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button, #submit-button {
	font-size: 0.9em;
	color: white;
	background-color: #6D54B5;
	border: none;
	border-radius: 8px;
	padding: 14px;
	width: 100%;
	transition: 200ms ease;
}

button:hover, #submit-button:hover{
	background-color: #8b72d3;
}

body {
	display: flex;
}


/* ----- FORM STYLES ----- */

label {
	font-size: 0.8em;
	color: white;
	display: block;
	margin: 24px 0 6px 0;
}

input {
	color: white;
	background-color: #3C364C;
	border-radius: 8px;
	border: none;
	width: 100%;
	height: 44px;
	transition: 200ms ease;
	padding-left: 10px;
}

input:hover {
	background-color: #524c63
}

input[type="text"]:focus, input[type="number"]:focus {
    border: 1px solid #565067;
    outline:#565067;
}

/* ----- OVERLAY STYLES ----- */

#madlibs-overlay {
    position: absolute;
    background-color: #2C2638;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#resume-form {
    overflow: scroll;
    border-radius: 14px;
    box-sizing: border-box;
    background-color:#fff;
    padding: 20px;
    width: 80vw;
    height: 75vh;
	margin: 40px auto;
}

#error-message{
	color: rgb(255, 61, 61);
	margin-top:12px;
	text-align: center;
}

#overlay-content{
	display: flex;
	flex-direction: column;
}

#resume{
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	max-height: 100%;
	margin: 80px auto 0px auto;
	gap: 130px;
}

#resume h3{
	font-size: 1em;
	margin-bottom: 4px;
	color: #6D54B5;
}

#resume p{
	font-size: 1em;
	margin-bottom: 2em;
	line-height: 1.5em;
}

#resume-left-container{
	flex: 1;
}

#resume-right-container{
	flex: 1;
}

span {
	font-weight: 700;
}

#banner{
	display: flex; /* Enables flexbox */
    justify-content: center; /* Horizontally centers children */
    align-items: center; /* Vertically centers children */
    text-align: center;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    width: 100%;
    height: 8.875rem;
    background: linear-gradient(91deg, rgba(141, 111, 226, 0.96) -0.21%, rgba(45, 19, 119, 0.96) 99.07%);

}

#banner h1{
	color: white;
	font-size: 3em;
	margin-bottom: 8px;
}

#banner h2{
	color: #DBB8FF;
	font-weight: 300;
	font-size: 1rem;
}

/* BUTTONS */

footer{
	margin: auto;
	max-width: 40%;
	text-align: center;
}

footer h2{
	color: white;
	font-weight: 500;
	margin-bottom: 12px;
}

footer span{
	background: linear-gradient(90deg, #A244FF 80%, #DBF 100.88%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#overlay-button-container {
	display: flex;
	justify-content: center;
	gap: 12px;
}

#redo-button{
	width: fit-content;
}

#download-button{
	background-color: transparent;
	color: white;
	width: auto;
}

#download-button:hover{
	color: #9b85e0;
}