/* CSS RESET*/
*{
	box-sizing: border-box;
}

nav ul, nav ol {
	list-style-type: none;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, p, ul, ol, a{
	font-family: "Manrope",serif;
	margin: 0;
	padding: 0;
}
/* END RESET */


h1{
	margin-top: 16px;
	margin-bottom: 4px;
	font-weight: 300;
	font-size: 3em;
}

p{
	color: #808B9B;
	font-size: 1em;
}

a{
	color: #808B9B;
	text-decoration: none;
}

header{
	/* display: flex;
	flex-direction: column; */
	text-align: center;
	justify-content: center;
}

#cursive-tag{
	font-size: 1.4em;
	font-family: "Caveat",serif;
	color: #067CFF;
	padding: 6px;
}

body{
	background-color: #F7F7F7;
	margin: 0px 60px;
}


/* projects section */
#projects-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 18px;
	max-width: 1100px;
	margin: auto;
	margin-bottom: 24px;

}

#projects-tag{
	display: inline-block;
	width: auto;
	margin: auto;
	text-align: center;
	background-color: #F2F7FF;
	border: #067CFF solid 1px;
	border-radius: 60px;
	padding: 2px 10px;
}

#projects-tag p{
	color: #007AFF;
}

#projects-tag a{
	color: #007AFF;
	font-size: 0.8em;
	display: inline-block;
	width: auto;
}

#card-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 36px;
	flex-wrap: wrap;
}

/* card styles */
svg {
	width: 20px;
	height: 20px;
	transition: transform 200ms ease-in-out;
}

.card{
	background-color: white;
	border-radius: 12px;
	padding: 36px;
	border: #D3D8DF solid 1px;
	flex-grow: 1;
	transition: 200ms ease-in-out;
	width: 200px;
}

.card:hover{
	scale: 1.04;
	-webkit-box-shadow: 3px 15px 28px 7px rgba(0,0,0,0.08);
	-moz-box-shadow: 3px 15px 28px 7px rgba(0,0,0,0.08);
	box-shadow: 3px 15px 28px 7px rgba(0,0,0,0.08);
}

.card-content{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card-list-item{
	color: #808B9B;
	transition: color 300ms ease;
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.card-list li {
	margin-bottom: 18px;
}

.card-list-item:hover a{
	color: #6aa4fc;
}

.card-list-item:hover svg {
	color: #6aa4fc;
	transform: rotate(45deg);
}

/* images */
#image1 {
	background-image: url("images/cherryblososm.png");
	margin-right: 16px;
	-webkit-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	background-repeat: no-repeat;
}

#image2 {
	background-image: url("images/fishing.png");
	margin-right: 16px;
	-webkit-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
}

#image3 {
	background-image: url("images/walking.png");
	margin-right: 16px;
	-webkit-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	background-repeat: no-repeat;
}

#image4 {
	background-image: url("images/rose.png");
	margin-right: 16px;
	-webkit-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
	box-shadow: 3px 18px 33px 0px rgba(0,0,0,0.26);
}

#banner {
	display: flex;
	max-width: 1100px;
	/* width: auto; */
	height: 250px;
	margin: 26px auto 48px auto;
	flex-wrap: wrap;
	/* overflow: hidden; */
}

#banner div {
	flex: 1;
	background-position: center;
	transition: all 1s;
	border-radius: 16px;
}

#banner div:hover {
	flex: 2;
}

footer{
	text-align: center;
}

footer p,footer a{
	font-size: 0.75em;
	color: #98a2af;
}

#footer-text{
	display: inline-flex;
	gap: 24px;
}