/* CSS RESET*/
*{
	box-sizing: border-box;
}

nav ul, nav ol {
	list-style-type: none;
}

gif{
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, h4, p, ul, ol, a, button, label, input{
	font-family: "Gochi Hand", cursive;
	margin: 0;
	padding: 0;
}
/* END RESET */

body {
	background-color: #FBF9F3;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 3em;
	letter-spacing: 3.5px;
	/* color: #654021; */

	color: #FBDCC3;
	-webkit-text-stroke-width: 7px;
	-webkit-text-stroke-color: #AF6A32;
	paint-order: stroke fill;
}

header {
	display: flex;
	gap: 8px;
	margin: auto;
	justify-content: center;
	margin-top: 60px;
	align-items: center;
}

#orange-gif {
	width: 70px;
	height: 70px;
}

svg {
	width: 40px;
	height: 40px;
}

#gamecontrol .icon-button{
	padding: 10px;
	display: flex;
	flex-direction: row;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
}

#gamecontrol{
	display: flex;
	gap: 10px;
	position: absolute;
	top: 30px;
	left: 30px;
}


/* ---------- gameArea AREA ----------- */

#gameArea {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 140px;

	/* positioning */
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);

	/* color */
	background-color: white;
	padding: 50px 70px;
	border-radius: 24px;
	border: solid 3px #EDE7D6;
}

#gameArea div{
	align-items: center;
}

#gameArea img{
	width: 220px;
	margin: 24px;
}

.game-text-js {
	width: fit-content;
}

/* ---------- SCORE ----------- */
.score-div{
	flex: 1;
	display: flex;
	gap: 10px;
	margin-bottom: 24px;
	white-space: nowrap;
}

.player-text{
	font-size: 2.5em;
	letter-spacing: 3px;
	/* color: #654021; */

	color: #FBDCC3;
	-webkit-text-stroke-width: 6px;
	-webkit-text-stroke-color: #AF6A32;
	paint-order: stroke fill;
	
}

.score-text { 
	font-size: 3em;
	letter-spacing: 3px;
	/* color: #654021; */

	color: #FBDCC3;
	-webkit-text-stroke-width: 6px;
	-webkit-text-stroke-color: #D8945E;
	paint-order: stroke fill;

	background-color: #F4E4D7;
	padding: 2px 12px;
	border-radius: 8px;

	width: 80px;
	text-align: center;
	justify-content: center;
}

/* ---------- BUTTONS ----------- */
button {
	font-family: "Nunito", sans-serif;
	color: #654021;

	border-radius: 40px;
	padding: 12px 21px;
	border: 2.5px solid #AF6A32;

	background: #FBDCC3;
	box-shadow: 0px 4.955px 0px 0px rgba(255, 255, 255, 0.49) inset;
}

button:hover{
	background: #F5C8A4;
	box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 0.49) inset;
	border: 2.3px solid #AF6A32;
}

button:active {
    transform: scale(0.98); 
}

#actionArea{
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform:translate(-50%);
}

#actionArea button {
	margin: 8px;
}

#actionArea p {
	font-family: "Nunito", sans-serif;
	margin-bottom: 10px;
}

/* ---------- HOW TO PLAY ----------- */
#overlay.shown{
    opacity: 1;
    visibility: visible;
    animation: popIn 0.5s ease-out forwards; /* Apply pop animation */
}

#overlay.hidden{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

#dimmer {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
    height: 100vh;
	position: absolute;
	top: 0%;
	z-index: 9998;
	visibility: hidden;
}

#overlay {
    width: 100vw;
    height: 100vh;
	position: absolute;
	top: 0%;
 	z-index: 9999;
	
	opacity: 0;
    visibility: hidden;
	transform: translate(-50%, -50%) scale(0.5);
	transform-origin: center;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5); 
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

#overlay article{
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	border-radius: 24px;

	background-color: white;
	padding: 40px 120px;
	border: solid 3px #EDE7D6;
	z-index: 9999;
}

#overlay article h1{
	text-align: center;
	margin-bottom: 40px;
}

#overlay article p{
	font-family: "Nunito", sans-serif;
	color: #654021;
	margin-bottom: 40px;
	text-align: center;
}

#overlay article button{
	width: fit-content;
}


/* ---------- GAME + CAPYBARA ----------- */
#game {
	font-size: 14px;
	background-color: #ffffff;
	width: fit-content;
	padding: 16px;
	border-radius: 16px;
	border: solid 3px #EDE7D6;
	text-wrap: wrap;
	max-width: 200px;
}

#game p {
	font-family: "Nunito", sans-serif;
}

#game-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#name {
	font-family: "Nunito", sans-serif;
	font-size: 14px;
	width: fit-content;
	background-color: #AF6A32;
	color: white;
	padding: 4px 6px;
	border-radius: 8px;
}

#capybara-wrapper {
	position: absolute;
	width: 350px;
	right: -70px;
	bottom: -45px;

	display: flex;
	flex-direction: column;
	gap: 16px;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

#capybara {
	width: 90%;
	height: auto;
	display: block;
	/* visibility: hidden; */
}

.dice {
	/* dice */
	width: 40%;
	margin-top: 12px;
}

.js-text{
	font-family: "Nunito", sans-serif;
}